  <div class="card bg-white mb-10">
　　<div class="card-body text-center">
    <h3 class="card-title"><i class="fas fa-globe-asia"></i> ベルリン在住歴: <strong><%= @user.year %></strong></h3>
    <h4 class="card-text mt-4"><%= @user.bio %></h4>
  　</div>
　</div>
<p class="card-text mt-4 ml-4">投稿数: <%= @user.posts.count %></p>
<p class="card-text ml-4">いいねをした数: <%= @user.likes.count %></p>