<% if current_user?(@user) %>
      <div class="text-center">
      <button type="button" class="btn btn-warning">
    <% if @user.email == "smooth_login@example.com" %>
    <%= link_to 'プロフィール編集' ,smooth_edit_path, class: 'text-light edit-btn' %>
    <% else %>
    <%= link_to 'プロフィール編集' ,edit_user_path(@user), class: 'text-light edit-btn' %>
    <% end %>
    </button>
    </div>
    <% end %>