 <ul class="nav nav-justified">
    <li class="nav-item bg-dark">
      <a href="#popular" class="nav-link text-white" data-toggle="tab">人気</a>
    </li>
    <li class="nav-item bg-danger">
      <a href="#new" class="nav-link text-white" data-toggle="tab">新着</a>
    </li>
    <li class="nav-item bg-warning">
      <a href="#views" class="nav-link text-white" data-toggle="tab">アクセス数</a>
    </li>
  </ul>