<% provide(:title, "About") %>

<div class="d-flex align-items-center justify-content-center p-4 m-4">
<h1>このサイトを作った経緯</h1><br>
</div>

<h1>Ajax#index</h1>
<p id="hoge">赤色になるよ</p>

<script>
  $("#hoge").css("color","red")
</script>