<h1>Aboutだよ</h1>



<style>
.card-header-img {
  height: 150px;  
  object-fit: cover;
}

.card-avatar-img {
  position: absolute;
  top: 90px;
  right: 30px;
  height: 80px;
  z-index: 1;
}

.card-avatar-back {
  position: absolute;
  top: 85px;
  right: 25px;
    
  background: #fff;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-md-4 pb-3">
      <div class="card">
        <img class="img-fluid rounded-circle card-avatar-img" src="https://qiita-image-store.s3.amazonaws.com/0/89911/profile-images/1518364681">
        <span class="card-avatar-back"></span>
        <img class="card-img-top card-header-img" src="https://qiita-image-store.s3.amazonaws.com/0/89911/profile-images/1518364681" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">TakahiRoyte</h5>
          <p class="card-text">Twitterのカードみたいなの作りたいのでCSSを学んでみている最中です。</p>
        </div>
　　　　</div>
    </div>
    <div class="col-md-4 pb-3">
      <div class="card">
        <img class="img-fluid rounded-circle card-avatar-img" src="https://qiita-image-store.s3.amazonaws.com/0/89911/profile-images/1518364681">
        <span class="card-avatar-back"></span>
        <img class="card-img-top card-header-img" src="https://qiita-image-store.s3.amazonaws.com/0/89911/profile-images/1518364681" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">TakahiRoyte</h5>
          <p class="card-text">Twitterのカードみたいなの作りたいのでCSSを学んでみている最中です。</p>
        </div>
　　　　</div>
    </div>
    <div class="col-md-4 pb-3">
      <div class="card">
        <img class="img-fluid rounded-circle card-avatar-img" src="https://qiita-image-store.s3.amazonaws.com/0/89911/profile-images/1518364681">
        <span class="card-avatar-back"></span>
        <img class="card-img-top card-header-img" src="https://qiita-image-store.s3.amazonaws.com/0/89911/profile-images/1518364681" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">TakahiRoyte</h5>
          <p class="card-text">Twitterのカードみたいなの作りたいのでCSSを学んでみている最中です。</p>
        </div>
　　　　</div>
    </div>
   
  </div>
</div>