<%# <div id='hello'>
<app></app>
</div> %>
<%# ここにこの二つを置かないと、関係ないページにもhomeの全パーツが表示されてしまう。 %>
<%# <%= stylesheet_pack_tag 'hello_vue' %>
    <%# <%= javascript_pack_tag 'hello_vue' %>  


<div class="ui container">

<h1>グリッドcentered(中央寄せ)right floated(右寄せ)fluidでwidth:100%</h1>



<h2 class="ui icon header">
  <i class="settings icon"></i>
  <div class="content">
    Account Settings
    <div class="sub header">Manage your account settings and set e-mail preferences.</div>
  </div>
</h2>


    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et neque viverra, condimentum nunc quis, convallis ex. Nam ut mauris tempor tortor facilisis congue. Curabitur vel molestie eros. Proin vel mauris turpis. Sed pharetra commodo mi, sit amet aliquam est scelerisque consectetur. Nullam ut elementum dui. Vivamus ut nibh nec odio consectetur euismod. Nulla vel semper nibh. Praesent eu quam consequat, tempor neque id, pellentesque metus. Aliquam semper consectetur nibh, non porttitor nisl dapibus non. Sed porttitor bibendum metus non hendrerit. Sed vitae viverra nisl. Donec sit amet risus mollis, dapibus elit vitae, tempus purus. Vestibulum sed neque at massa posuere vulputate.</p>


<div class="ui text container">
    <p>Lorem IpsumLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et neque viverra, condimentum nunc quis, convallis ex. Nam ut mauris tempor tortor facilisis congue. Curabitur vel molestie eros. Proin vel mauris turpis. Sed pharetra commodo mi, sit amet aliquam est scelerisque consectetur. Nullam ut elementum dui. Vivamus ut nibh nec odio consectetur euismod. Nulla vel semper nibh. Praesent eu quam consequat, tempor neque id, pellentesque metus. Aliquam semper consectetur nibh, non porttitor nisl dapibus non. Sed porttitor bibendum metus non hendrerit. Sed vitae viverra nisl. Donec sit amet risus mollis, dapibus elit vitae, tempus purus. Vestibulum sed neque at massa posuere vulputate.</p>
</div>


<
<h1>グリッド</h1>
<div class="ui three column grid">
    <div class="column"><p>Lorem Ipsum(略)</p></div>
    <div class="column"><p>Lorem Ipsum(略)</p></div>
    <div class="column"><p>Lorem Ipsum(略)</p></div>
</div>





<h1>幅は16グリッド</h1>
<div class="ui grid">
    <div class="twelve wide column"><p>
    Curabitur et ipsum euismod, placerat nunc ac, eleifend dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur bibendum mauris purus, vitae ornare est gravida vel. Nunc vitae diam et velit venenatis tincidunt. Duis sit amet lacus vel velit porta mollis. Praesent et ligula tempus, condimentum sem sed, auctor turpis. Curabitur quis metus eget quam malesuada pellentesque.
    </p></div>
    <div class="four wide column"><p>
    Curabitur et ipsum euismod, placerat nunc ac, eleifend dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur bibendum mauris purus, vitae ornare est gravida vel. Nunc vitae diam et velit venenatis tincidunt. Duis sit amet lacus vel velit porta mollis. Praesent et ligula tempus, condimentum sem sed, auctor turpis. Curabitur quis metus eget quam malesuada pellentesque.</p></div>
</div>
</div>




<div class="ui segment">
<p>とりあえず囲っとく。</p>
</div>



<div class="ui message">
<p>flashとかに使えそう</p>
</div>

<div class="ui error message">
<p>flashとかに使えそう</p>
</div>

<i class="user icon"></i>

<i class="user outline icon"></i>

<p>とりあえず線</p>
<div class="ui divider"></div>

<div class="ui horizontal divider">
    割り込む
</div>


<h2 class="ui header">
    タイトル
    <div class="sub header">
        description
    </div>
</h2>


<h1>form。これ使えるわ。</h1>
<form class="ui form">
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" name="first-name" placeholder="First Name">
      </div>
      <div class="field">
        <input type="text" name="last-name" placeholder="Last Name">
      </div>
    </div>
  </div>
 </form>



<a class="ui fluid card" href="#">
    <div class="content">
        <h4 class="ui header">
            <i class="inverted red announcement icon"></i>
            <div class="content">
                <div class="header">おしらせ</div>
                <div class="sub header">運営からの重要なおしらせ</div>
            </div>
        </h4>
    </div>
</a>

































</div><%# container %>