<div id='hello'>
<app></app>
</div>

<%# ここにこの二つを置かないと、関係ないページにもhomeの全パーツが表示されてしまう。 %>
<%= stylesheet_pack_tag 'hello_vue' %>
    <%= javascript_pack_tag 'hello_vue' %>  


#######個人の投稿のかたまり。→これを個人ではなくみんなに変えてpage/homeに表示する。########
<%# 　<div class="row">
    <div class="col-md-8">
      <h3>投稿したもの</h3>
      <%= render 'shared/contents_feed' %> %>
      <%# </div> %>
